*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
body{
    background-color:#e2dedf ;
    color:rgb(37, 37, 37) ;
    margin: 0;

   
}
header{
    display:flex ;
    justify-content: center;
    text-align:center ;
    background-color:pink ;
    color:maroon ;
    height: 20vh;
    padding: 20px;
    flex-wrap: wrap;

}
header div{
    display: flex;
    flex-direction: column;
}
header h1{
    display:flex ;
    justify-content: center;
   max-width: 100%;
    font-size: 45px;
    text-align:center ;
    
}
nav{
    color:rgb(233, 82, 82) ;
    gap:30px;
    margin-top: 50px;
     max-width: 100%;
    font-size: clamp(14px,4vw,22px);
    display:flex ;
    text-align:center ;
    justify-content: center;
    margin-bottom: 10px;
}
nav a{
    color: aliceblue;
    font-weight:500;
    font-size:medium;
    text-decoration: none;
}
.Hero{
    height: 80vh;
    background-image:url("./img/Background.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
    color: azure;
    display:flex ;
    align-items: center;
    justify-content:center ;
}
.Hero h1{
    font-size:40px ;
    padding: 20px;
    background:rgba(0,0,0,0.5);
    border-radius: 10px;
}
.section{
    padding: 60px,10%;
    text-align: center;
    margin-top:  20px;
    margin-bottom: 20px;
    
}
.section h2{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    height:100px;
}
.card img{
    height:200px ;
    width:200px
}
.Product{
    display:flex ;
    justify-content:space-around ;
    gap:10px;
    text-align: center;
    position: relative;
    flex-wrap: wrap;
}
.card{
   background-color: antiquewhite;
   border-radius: 10px;
   box-shadow:0 4px 10px rgba(0,0,0,0.1) ;
   transition:0.3s ;
   
}

.card:hover{
    transform:scale(1.05);
}

.card img{
    width:100%;
    border-radius:10px;
}
 button{
    color: rgb(240, 235, 235);
    background-color: rgb(228, 99, 99);
    border-radius: 10px;
    cursor: pointer;
    margin-top:15px;
    padding:10px 20px;
    border:none;
}
button:hover{background-color:red ;}
footer{
    background-color:black ;
    color:white;
    text-align: right;
}
